build/
install/
*.so
ops/stage
qa/L0_e2e/model_repository
qa/L0_e2e/cpu_model_repository
qa/logs
qa/benchmark_output
*.ipynb_checkpoints*
notebooks/categorical-fraud-detection/ieee-fraud-detection.zip
notebooks/categorical-fraud-detection/sample_submission.csv
notebooks/categorical-fraud-detection/test_identity.csv
notebooks/categorical-fraud-detection/test_transaction.csv
notebooks/categorical-fraud-detection/train_identity.csv
notebooks/categorical-fraud-detection/train_transaction.csv
notebooks/detailed_deployment/data/
